.idea/data_source_mapping.xml
.idea/dataSources.xml
.idea/php.xml
.idea/sqldialects.xml
.idea/dataSources.local.xml
.idea/workspace.xml
.idea/dataSources/eefccc66-04dd-4875-a77e-04340a47e45d.xml
.idea/dataSources/eefccc66-04dd-4875-a77e-04340a47e45d/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/eefccc66-04dd-4875-a77e-04340a47e45d/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/eefccc66-04dd-4875-a77e-04340a47e45d/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/eefccc66-04dd-4875-a77e-04340a47e45d/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/copilot.data.migration.ask2agent.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
